@model eindopdracht.Models.Room

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h3>@ViewBag.message</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Room</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AmountOfPeople)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AmountOfPeople)
            @Html.ValidationMessageFor(model => model.AmountOfPeople)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MinimumPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MinimumPrice)
            @Html.ValidationMessageFor(model => model.MinimumPrice)
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
